* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "M Plus Rounded 1c", sans-serif;
  color: #d0d0d6;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }

  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

.backdrop {
  overflow: hidden;
  background-color: #000022;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.backdrop::before {
  content: "";
  position: absolute;
  left: -20vmin;
  bottom: -20vmin;
  width: 70vmax;
  height: 70vmax;
  border-radius: 41% 59% 41% 59% / 57% 51% 49% 43%;
  background: rgba(255, 255, 255, 0.07);
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  animation-name: morph, spin;
  animation-duration: 15s, 20s;
  animation-timing-function: linear, linear;
  animation-delay: 0s, 0s;
  animation-iteration-count: infinite, infinite;
  animation-direction: alternate, normal;
  animation-fill-mode: none, none;
  animation-play-state: running, running;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
}

.backdrop::after {
  content: "";
  position: absolute;
  right: -10vmin;
  top: 0vmin;
  width: 70vmin;
  height: 70vmin;
  border-radius: 41% 59% 41% 59% / 57% 51% 49% 43%;
  background: rgba(255, 255, 255, 0.07);
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  animation-name: morph, spin;
  animation-duration: 15s, 20s;
  animation-timing-function: linear, linear;
  animation-delay: 0s, 0s;
  animation-iteration-count: infinite, infinite;
  animation-direction: alternate, normal;
  animation-fill-mode: none, none;
  animation-play-state: running, running;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
}

.made-with-section {
  background-color: #262643;
  text-align: center;
  padding: 5px 0;
  font-size: 0.9rem;
  color: #aa8ed6;
}

.author-name {
  font-weight: bold;
  color: #fff;
  color: #d4d4d9;
}

.link-to-gh {
  color: #fff;
  text-decoration: none;
  z-index: 69696969;
  position: relative;
}

/**************************

BACKGROUND COLOR:   
    #000022
    #FF0099
    #3023AE
    #00FFFF
    #262643

TEXT COLOR:
    #D0D0D6
    #AA8ED6
    #D4D4D9

***************************/

main {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  align-items: center;
  justify-content: space-evenly;

  padding-top: 20px;
}

.divider {
  width: 30rem;
  height: 1px;
  background-color: #d0d0d6;

  margin: 10px 0;
}

.radius-and-size {
  padding: 20px 0;

  max-width: 630px;
  display: grid;
  grid-template-columns: auto 1fr;

  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-items: flex-end;

  font-size: 1.4rem;
}

.radius-data-box {
  display: inline-block;
  display: flex;
}

.radius-data {
  width: 22rem;
  height: 3.2rem;
  background-color: #d0d0d6;
  color: #000022;

  display: flex;
  align-items: center;
}

.radius-data p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.btn-copy {
  position: relative;
  color: #d0d0d6;
  background-color: #ff0099;
  transition: background-color 0.3s ease-out;
  cursor: pointer;

  padding: 5px 10px;
  font-size: 1.5rem;
  height: 3.2rem;
  color: white;
  font-weight: bold;
  border: none;
}

.btn-copy:hover {
  background-color: #3023ae;
}

.copied-info {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 8px;
  opacity: 0%;

  color: #f09;
  font-size: 0.8rem;
  max-lines: 1;

  transition: opacity 0.3s ease-out;
}

.mode-switch,
.mode-switch.on:hover {
  position: absolute;
  right: -4rem;
  top: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.2rem;

  text-align: center;
  font-size: 100%;
  font-weight: bold;
  text-decoration: underline;

  background-color: #f09;
  color: #fff;
  cursor: pointer;

  transition: background-color 0.3s ease-out;
}

.mode-switch:hover,
.mode-switch.on {
  background-color: #3023ae;
}

.switch {
  width: 40px;
  height: 20px;
  background-color: #d0d0d6;

  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.switch-ball {
  width: 18px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: 0px;
  background-color: #000022;

  margin: 2px 2px;
  border-radius: 20px 20px 10px 20px;

  transition: background-color 0.2s ease-out, border-radius 0.2s ease-out,
    left 0.2s ease-out;
}

.switch.on .switch-ball {
  left: 18px;
  background-color: #ff0099;
  border-radius: 20px 20px 20px 10px;
}

.size-bar {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-between;
}

.size-bar-inputs {
  display: flex;
  opacity: 0%;
  transition: opacity 0.3s ease-out;
}

.size-bar-inputs.on {
  opacity: 100%;
}

.meter {
  width: 80px;
  height: 2.4rem;
  padding: 0px 5px;
  border-radius: 2px;
  text-align: center;
  font-size: 1.2rem;
}

/**************************
******* DISPLAY BOX *******
**************************/

.box {
  width: 50vh;
  height: 50vh;

  border-color: #d0d0d6;
  background: linear-gradient(45deg, #3023ae 0%, #f09 100%);

  border-radius: 80% 20% 20% 80% / 80% 80% 20% 20%;
  box-shadow: -50px 50px 0px rgba(255, 255, 255, 0.07);

  will-change: border-radius;
}

.box-border {
  margin: 10px 0px;
  border-style: dashed;
  border-color: #d0d0d6;
  border-width: 2px;

  position: relative;
}

/**************************
*******    STOPS    *******
**************************/

.rad-stop {
  display: inline;
  position: absolute;
  background-color: #fff;

  transition: background-color 0.1s, transform 0.1s;
  transform-box: view-box;
  cursor: pointer;
}

.rad-stop div {
  transition: background-color 0.1s;
}

.rad-stop:hover {
  transform: scale(1.3);
}

.rad-stop:hover div {
  transform: scale(0.7);
}

.rad-stop.a,
.rad-stop.b {
  left: 40vh;
  top: -11px;
}

.rad-stop.f,
.rad-stop.g {
  top: 40vh;
  right: -11px;
}

.rad-stop.c,
.rad-stop.d {
  bottom: -11px;
  left: 40vh;
}

.rad-stop.e,
.rad-stop.h {
  left: -11px;
  top: 40vh;
}

.btn-rad-stop {
  width: 18px;
  height: 18px;

  background-color: #d0d0d6;
  border: 2px solid #000022;

  transition: background-color 0.1s;
}

.btn-rad-stop:hover,
.btn-rad-stop:active {
  background-color: #00ffff;
}

/**************************
******* MOBILE ONLY *******
**************************/

@media only screen and (max-width: 768px) {
  .backdrop {
    height: 200vh;
  }

  .box {
    width: 60vw;
    height: 60vw;
  }

  .divider {
    width: 24rem;
  }

  .radius-and-size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .radius-data-box {
    flex-direction: column;
    gap: 0.6rem;
  }

  .copied-info {
    left: unset;
    right: 8px;
  }

  .size-bar {
    width: 90vw;
  }

  .size-bar-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .radius-data {
    width: 90vw;
  }

  .rad-stop.a,
  .rad-stop.b {
    left: 48vw;
  }

  .rad-stop.f,
  .rad-stop.g {
    top: 48vw;
  }

  .rad-stop.c,
  .rad-stop.d {
    left: 48vw;
  }

  .rad-stop.e,
  .rad-stop.h {
    top: 48vw;
  }
}
